@page "/arc-gauge"


<h1>Gas Gauge</h1>
<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenArcGauge Style="width: 100%; height: 250px; stroke: green;">
            <RadzenArcGaugeScale Step="20" Min="0" Max="100" MinorStep="2" Radius="1.5" TickPosition=@tickPosition Y="0.9" Margin="0">
                <RadzenArcGaugeScaleValue Value=@gasValue ShowValue=@showValue>
                    <Template Context="pointer">
                        <h4>
                            @pointer.Value <sup>% Full</sup>
                        </h4>
                    </Template>
                </RadzenArcGaugeScaleValue>
            </RadzenArcGaugeScale>
        </RadzenArcGauge>
    </div>
    <div class="col-md-6 col-sm-12 p-4">
        <p>
            <label>Value <RadzenSlider Min="0" Max="100" @bind-Value=@gasValue /></label>
        </p>
        @*<p>
             <label>Show the pointer value <RadzenCheckBox @bind-Value=@showValue /></label>
         </p>
        <p>
             <label>Tick position <RadzenDropDown @bind-Value=@tickPosition Data=@tickPositions /> </label>
         </p>*@
    </div>
</div>

@code {

    public bool showValue = true;

    [Parameter]
    public double gasValue { get; set; }

    IEnumerable<GaugeTickPosition> tickPositions = Enum.GetValues(typeof(GaugeTickPosition)).Cast<GaugeTickPosition>();
    GaugeTickPosition tickPosition = GaugeTickPosition.Outside;
}

