
@page "/cartasks"

<style>
    input{
        margin:15px;
       }
</style>

<h3>Car Tasks</h3>

<div class="row">
    <div class="col-me-3">
        <TaskList Name="Car Wash"></TaskList>
    </div>
    <div class="col-md-3">
        <TaskList Name="Oil Change"></TaskList>
    </div>
    <div class="col-md-3">
        Gas
        <EditForm class="form-inline my-2" Model="@gasValue">
            <InputNumber class="form-control mx-2" @bind-Value="gasValue" />
        </EditForm>
    </div>
    <div class="col-md-3">
        Tire Pressure
        <input id="tirePressure" @bind-value="TirePressure" />
        <br />
        <button @onclick="TirePressureChanged">Check Tire Pressure</button>
        <div>@Result</div>
    </div>
</div>
<ArcGauge ValueOfGas="gasValue"></ArcGauge>
<br />


@code { public int gasValue { get; set; }

    public int TirePressure { get; set; }

    private string Result;

    public void TirePressureChanged()
    {
        if (TirePressure < 30)
        {
            Result = "Tire Pressure too low";
        }
        else if (TirePressure >30 && TirePressure <=34)
        {
            Result = "Tire Pressure is good";
        }
        else
        {
            Result = "Tire Pressure is too high";
        }
    }

 

    }



