
@page "/cartasks"

<h3>Car Tasks</h3>

<div class="row">
    <div class="col-me-3">
        <TaskList Name="Car Wash"></TaskList>
    </div>
    <div class="col-md-3">
        <TaskList Name="Oil Change"></TaskList>
    </div>
    <div class="col-md-3">
        <TaskList Name="Gas"></TaskList>
    </div>
    <div class="col-md-3">
        <TaskList Name="Tire Pressure"></TaskList>
    </div>
</div>

@code {

}
