
@page "/cartasks"

<h3>Car Tasks</h3>

<div class="row">
    <div class="col-me-3">
        <TaskList Name="Car Wash"></TaskList>
    </div>
    <div class="col-md-3">
        <TaskList Name="Oil Change"></TaskList>
    </div>
    <div class="col-md-3">Gas
        <input @bind-value="gasValue" />
    </div>
    
    <div class="col-md-3">Tire Pressure
        <input @bind-value="TirePressure" />
    </div>
    <br />
    <div class="col-md-3">
        Gas

        <ArcGauge gasValue="gasValue"></ArcGauge>
    </div>

</div>

@code {
    public int gasValue { get; set; }
    public int TirePressure { get; set; }
}
